<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">


<section class="hero is-link">
    <div class="hero-body">
      <p class="title">
        *Project Title
      </p>
      <p class="subtitle">
        Project Catchphrase
      </p>
    </div>
  </section>

  <div class="columns">
    <div class="column is-two-fifths">
      <section class="section is-small>
        <h2 class="subtitle">
          There has been an error. Please go back to the previous page.
        </h2>
      <div class="field is-horizontal"></div>
      
        <button class="button is-link is-outlined">Back</button
      </section>
    </div>
</div>


