<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

<footer class="footer">
    <nav class="breadcrumb is-centered has-bullet-separator">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Add Charity</a></li>
        <li><a href="#">Volunteer</a></li>
        <li><a href="#">Donate</a></li>
      </ul>
    </nav>
    <div class="content has-text-centered">
      <p>
        <strong>Project Name</strong> 
        <br>by Meredith Benson, Marcus Dyson, Talha Memon, Stevie Warren, and Lisa Zhang
        <br>
        Copyright 2022 by Project. All Rights Reserved.
      </p>
    </div>
  </footer>